body{
margin: 0px;


}

a{
margin-left: 25px;
color: white;
text-decoration: none;
}
a:hover{
color: red;
}
nav{
background-color: rgb(1, 17, 17);
padding: 12px;
}
.logo{
    color: yellow;
    margin-right:150px;
    font-size: 20px;
    text-shadow: 2px 2px 2px black;
}

.txt{
    text-align: center;
}
.hd{
    font-family: "Playwrite IE Guides", serif;
        font-weight: 400;
        font-style: normal;
   }
   .flexcontainer{
    display: flex;
    flex-direction: row;
    gap: 14PX;

   }
 @media screen and (max-Width:800px){
    .flexcontainer{
    flex-wrap: wrap;
    width:100px;
    gap:0px;
    margin-left: 34px;
    }
    
 }
   .para{
    line-height: 35px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
   }

   @media screen and (max-Width:800px){
    .para{
       line-height: normal; 
    }
   }

   .flex2{
    display: flex;
    flex-direction: row;
    margin-top:45px;
    padding-top:10px;
   }

   @media screen and (max-Width:800px){
    .flex2{
      flex-wrap: wrap;
      width: 100%;
      margin-left:35px;
      margin-right:35px;
      padding:45px;
    }
     

   }

   .contactpar{
    display: flex;
    justify-content: space-around;
    margin-left: ;
   }

   .Form{
    text-align: center;
    width:300px ;
    height:200px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius:21px; 
   }

   input[ type="text" ]{
    border:0px;
    border-bottom:1px solid black;
    }

    input[ type="email" ]{
        border:0px;
        border-bottom:1px solid black;
        }
        input[ type="password"]{
            border:0px;
            border-bottom:1px solid black;
            }
            
            input[ type="submit"]{
            width: 150px;
            height:27px;
            color: white;
            background-image:linear-gradient(black,GRAY);
            }
                    
    


   .footer
   {
    display: flex;
    flex-direction: row;
   background-color:black;
   color: white;
   justify-content: space-between;
   padding: 12px;
   }
@media screen and (max-Width:900px) {
    .footer{
    flex-wrap: wrap;
    padding:0px;
    }
}

.footer1{
    background-color:black;
    color:white;
    position: relative;
    bottom: 10px;
    padding: 12px;
}

.text3{text-align: center;
padding:30px;
}

